<html>
<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'star_site/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="banner">
        <h1>Welcome to our Star Gazing website!</h1>
        <h3>Site made by Dr. Hacket</h3>
    </div>
    <div class="about">
        <h1>About</h1>
        <h3>Meet the team:</h3>
        <!-- <ul>
            <li>
                <img class="profile" src="{% static 'star_site/images/placeholder2.jpg' %}" alt="Alexis Phan"/>
                <p>Alexis Phan</p>
                <p>Alexis is a second year CS Major at Northeastern University. Her favorite constellation is Cassiopeia.</p>
            </li>
            <li>
                <img class="profile" src="{% static 'star_site/images/placeholder1.png' %}" alt="David Liu"/>
                <p>David Liu</p>
                <p>David is a second year CS Major at Northeastern University. His favorite constellation is Cancer.</p>
            </li>
            <li>
                <img class="profile" src="{% static 'star_site/images/placeholder3.png' %}" alt="Jason Gao"/>
                <p>Jason Gao</p>
                <p>Jason is a second year CS Major at Northeastern University. His favorite constellation is Ares.</p>
            </li>
            <li>
                <img class="profile" src="{% static 'star_site/images/lucy.png' %}" alt="Lucy Ying"/>
                <p>Lucy Ying</p>
                <p>Lucy is a second year CS Major at Northeastern University. Her favorite constellation is the Pegasus.</p>
            </li>
            <li>
                <img class="profile" src="{% static 'star_site/images/tristen.jpg' %}" alt="Tristen Li"/>
                <p>Tristen Li</p>
                <p>Tristen is a second year CS Major at Northeastern University. His favorite constellation is Perseus.</p>
            </li>
        </ul> -->
        <table style="width:30%">
            <tr>
                <td><img class="alexis" src="{% static 'star_site/images/placeholder2.jpg' %}" alt="Alexis Phan"/>
                    <p>Alexis Phan</p>
                </td>
                <td>
                    <img class="profile" src="{% static 'star_site/images/placeholder1.png' %}" alt="David Liu"/>
                </td>
                <td>
                    <img class="profile" src="{% static 'star_site/images/placeholder3.png' %}" alt="Jason Gao"/>
                </td>
                <td>
                    <img class="profile" src="{% static 'star_site/images/lucy.png' %}" alt="Lucy Ying"/>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>