<html>
<head>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'star_site/style.css' %}">
    <title>Star Locations</title>
</head>
<body>
    <a href="{% url 'star_site:add_location' %}"><button>Add New Location</button></a>
    {% if locations %}
        {% for location in locations %}
            <h1>{{ location.name }}</h1>
            <p>{{ location.description }}</p>
            <iframe
                width="450"
                height="250"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDV6nqMJ7_iY1nU3reiUDrltej_Laf5BCw &q={{ location.position }}"
                allowfullscreen>
            </iframe>
        {% endfor %}
    {% endif %}
</body>
</html>