<html>
<head>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'star_site/style.css' %}">
    <title>Star Locations</title>
</head>
<body>
    <h1>Star Locations Forum</h1>
    <form method="post">
        {% csrf_token %}
        <p>Location Name</p>
        {{ form.name }} <br>
        {{form.position}}<br>
        {{form.description}}
    <input type="submit" value="Submit">
    </form class="locations">
    {% if locations %}
        {% for location in locations %}
            <h1>{{ location.name }}</h1>
            <p>{{ location.description }}</p>
            <iframe
                width="450"
                height="250"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDV6nqMJ7_iY1nU3reiUDrltej_Laf5BCw &q={{ location.position }}"
                allowfullscreen>
            </iframe>
        {% endfor %}
    {% endif %}
</body>
</html>